<!-- Work in progress -->

{% extends "whats_on_dot_com/base.html" %} 

{% block title_block %}
        Login
{% endblock %}

{% block body_block %}
    {% load staticfiles %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template {% static 'css/login.css' %}-->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">

    <div class="container">

        <form class="form-signin" role="form" method="POST" action=".">
            {% csrf_token %}
            <h2 class="form-signin-heading">Please sign in</h2>
            
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" id="id_username" name="username" class="form-control" placeholder="Username" required autofocus>
            
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
            
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Sign in</button>
                <p> Not a member?
                    <a href="{% url 'registration_register' %}">Register</a>
                </p> 
        </form>

        

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}