<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static "css/baseNav.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}"/>

<head>
    <title>
        {% block title_block %}
        {% endblock %}
    </title>
</head>

<body>

	<div>
        <ul id="navbar">
            <li><img src="{% static 'logo_small.png' %}" height="45"/></li>
            <li><a href="{% url 'events' %}">Events</a></li>
            <li><a href="{% url 'profiles' %}">Profiles</a></li>
            <li><a href="{% url 'add_event'%}">Add Event</a></li>
            <div id="login">
                {% if user.is_authenticated %}
                    <li><a href="{%url 'auth_logout' %}">Logout</a></li>
                    <li><a href="{% url 'profile' user.username %}">Signed in as {{ user.username }}</a></li>
                {% else %}
                    <li><a href="{%url 'auth_login' %}">Login</a></li>
                    <li><a href="{%url 'registration_register' %}">Register</a></li>
                {% endif %} 
            </div>
        </ul>
	</div>
    	<br>

    <div class="container">
        {% block body_block %}
            <!-- Override this block for page content! -->
        {% endblock %}
    </div>

    <div class="container">
        {% block footer_block %}
            <br /><hr />
            <footer>
                <p>
                    &copy; WAD2 Group, code on <b><a href="https://github.com/Lindronics/wad2_group_project">Github</a></b>
                </p>
                <i>
                    Presentation not indicative of final form. Only represents general planned structure.
                </i>
            </footer>
        {% endblock %}
    </div>

</body>
</html>