{% extends 'whats_on_dot_com/base.html' %}
{% load staticfiles %}

{% block title_block %}
    What's On - Events
{% endblock %}

{% block body_block %}

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/profiles.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}"/>

    <h1 id="events_header">Events</h1>

    {% block toggle_block %}
        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'events' %}">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'events_map' %}">Map</a>
            </li>
        </ul>
    {% endblock %}
    <br />
    
    {% block events_block %}
        <!-- Events content here -->
    {% endblock %}
{% endblock %}