{% extends 'whats_on_dot_com/events_base.html' %}
{% load staticfiles %}


{% block title_block %}
    What's On - Map
{% endblock %}

{% block toggle_block %}
<ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'events' %}">List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'events_map' %}">Map</a>
    </li>
</ul>
{% endblock %}
 
{% block events_block %}

    <!-- Insert map here -->
    <div><select id="locationSelect" style="width: 10%; visibility: hidden"></select></div>
    <div id="map" style="width: 100%; height: 53%"></div>
    <script>
	// Javascript relies on django and breaks when moved to a seperate file hence inline
      var map;
      var markers = [];
      var infoWindow;
      var locationSelect;
	  

        function initMap() {
		  var locations = [
			//locations is populated by the function in view which has parameters defined by the filter bar on the webpage.
			{% for Event in events %}
			//<a href="http://www.yahoo.com">here</a>
			//change to a clickable link that takes to event page rather than just text name of event
			['<a href="{% url 'event_page' Event.pk %}">{{ Event.name }}</a>', '<p>{{ Event.description }} </p>', '<p>{{ Event.address }} </p>', '<p>{{ Event.date_time }} </p>',  {{ Event.latitude }}, {{ Event.longitude }}],
			{% endfor%}
			];	
		
		//centre the map and zoom in to the specified location
          var map_centre = {lat: {{focus_lat}}, lng: {{focus_lng}}};
          map = new google.maps.Map(document.getElementById('map'), {
            center: map_centre,
            zoom: 10,
            mapTypeId: 'roadmap',
            mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU}
          });
          infoWindow = new google.maps.InfoWindow();

         
		  
		  var infowindow = new google.maps.InfoWindow();

    var marker, i;

	// create map markers from the locations and populate the map
    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][4], locations[i][5]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0] + locations[i][1] + locations[i][2] + locations[i][3]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
        }

	   
  </script>
  <!-- Think that's all from working maps page -->
  <!-- Need to add a script call at the bottom of body-->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGS0bM93w4YN6uXAWGEoU-H_RwlnfbRk8&callback=initMap">
    </script>
{% endblock %}