{% extends 'whats_on_dot_com/base.html' %}
{% load staticfiles %}

{% block title_block %}
    What's On - {{event.name}}
{% endblock %}
{% block body_block %}
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}"/>

    <br />
    <a href="{% url 'events' %}">Back to overview</a>
    <hr />
    <div class="jumbotron">
        <h1><span class="badge badge-primary">{{event.category}}</span> {{event.name}} </h1>
        <hr />
        <div class="row">
            <div class="col-sm-8">
                <!-- Description -->
                <div class="card" >
                    <h4 class="card-header">Description</h4>
                    {% if event.event_picture %}
                        <img class="card-img-top" src="{{event.event_picture.url}}"/>
                    {% endif %}
                    <div class="card-block">
                        <p class="card-text">{{event.description}}</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <!-- Hosts -->
                    <div class="col-sm-6">
                        <div class="card" >
                            <h4 class="card-header">Hosts</h4>
                            <div class="card-block">
                                {% if event.host %}
                                    {% for h in event.host.all %}
                                        <a href="{% url 'profile' h.user.username %}"><span class="badge badge-primary">{{h.user.username}}</span></a>                                {% endfor %}
                                {% else %}
                                    No hosts.
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    <!-- Time -->
                    <div class="col-sm-6">
                        <div class="card" >
                            <h4 class="card-header">Time</h4>
                            <div class="card-block">
                                {% if event.host %}
                                    {{event.date_time}}
                                {% else %}
                                    No time.
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Location -->
                        <div class="card" >
                            <h4 class="card-header">Location</h4>
                            <div class="card-block">
                                <p class="card-text">{{event.location_info}}</p>
                                <p class="card-text">{{event.address}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <!-- Tags -->
                        <div class="card" >
                            <h4 class="card-header">Tags</h4>
                            <div class="card-block">
                                {% if event.tags %}
                                    {% for t in event.tags.all %}
                                        <a href="{% url 'events' t.name %}"><span class="badge badge-primary">{{t.name}}</span></a>
                                    {% endfor %}
                                {% else %}
                                    No tags.
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <!-- Interested profiles -->
                <div class="card" >
                    <h4 class="card-header">
                        Interested
                        {% if profile %}
                            {% if profile in event.interested.all %}
                                <a href="{% url 'interested' event.pk %}" class="btn btn-danger">Unfollow</a>
                            {% else %}
                                <a href="{% url 'interested' event.pk %}" class="btn btn-success">Follow</a>
                            {% endif %}
                        {% endif %}
                    </h4>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in event.interested.all %} 
                                        <tr>
                                            <td>{{p.user.username}}</td>
                                            <td>{{p.forename}} {{p.surname}}</td>
                                            <td><a href="{% url 'profile' p.user.username %}"><span class="badge badge-primary">Details</span></a></td>
                                        </tr> 
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}