{% extends 'whats_on_dot_com/base.html' %}
{% load staticfiles %}

<!-- Show a list of profiles attending an event. -->

{% block title_block %}
What's On - Profiles
{% endblock %}

{% block body_block %}

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/profiles.css' %}"/>

    <h1>Profiles</h1>
    {% if profiles %}
        <form lass="form-signin" role="form" method="POST" action=".">
            <div id="filter_menu">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" aria-label="Following"> Following
                    </span>
                    <input type="text" class="form-control" placeholder="Search..."/>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </form>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in profiles %} 
                        <tr>
                            <td>{{p.user.username}}</td>
                            <td>{{p.forename}} {{p.surname}}</td>
                            <td>{{p.description}}</td>
                            <td><a href="{% url 'profile' p.user.username %}">Details</a></td>
                        </tr> 
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    {% else %} 
        <strong>No profiles present.</strong>
    {% endif %}
{% endblock %}