{% extends 'whats_on_dot_com/base.html' %}

{% block body_block %}
    {% load staticfiles %}

    <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">

    <div class="container">
        <form role="form" method="post" action="" id="profile_setup_form" enctype="multipart/form-data" class="form-sigin"> 
            {% csrf_token %}
            <h2 class="form-signin-heading">Setup profile "{{ user.username }}"</h2>
            <div class="form-group">
                <p class="required">
                    <label class="required" for="id_forename"> Forename</label>
                    <input class="form-control" id="id_forename" maxlength="30" name="forename" type="text"/>
                </p>
                <p class="required">
                    <label class="required" for="id_surname"> Forename</label>
                    <input class="form-control" id="id_surname" maxlength="30" name="surname" type="text"/>
                </p>
                <p class="required">
                    <label class="required" for="id_description"> Description </label>
                    <input class="form-control" id="id_description" maxlength="30" name="description" type="text"/>
                </p>
                <p>
                    <label class="required" for="id_profile_picture"> Profile picture </label>
                    <input name="profile_picture" id="id_profile_picture" type="file">
                </p>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Save</button>
        </form>
            
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

{% endblock %}