{% extends 'whats_on_dot_com/base.html' %}
{% load staticfiles %}

{% block title_block %}
    What's On - "{{profile.user.username}}"
{% endblock %}

{% block body_block %}
    <br />
    <a href="{% url 'profiles' %}">Back to profiles list</a>
    <hr />
    <div class="jumbotron">
        <h1> <span class="badge badge-primary">{{profile.user.username}}</span> {{profile.forename}} {{profile.surname}}</h1>
        <hr />
        <br />
        <div class="row">
            
            <div class="col-sm-7">
                <!-- Description -->
                <div class="card" >
                    <h4 class="card-header">Profile description</h4>
                    {% if profile.profile_picture %}
                        <img class="card-img-top" src="{{profile.profile_picture.url}}"/>
                    {% endif %}
                    <div class="card-block">
                        <div class="card-text">
                            {{ profile.description }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <!-- Following -->
                <div class="card" >
                        <h4 class="card-header">
                            Friends
                            {% if this_user %} {% if this_user != profile %}
                                {% if profile in this_user.follows.all %}
                                    <a href="{% url 'follow' profile.user.username %}" class="btn btn-danger">Unfriend</a>
                                {% else %}
                                    <a href="{% url 'follow' profile.user.username %}" class="btn btn-success">Become friend</a>
                                {% endif %}
                            {% endif %} {% endif %}
                        </h4>
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for p in profile.follows.all %} 
                                            <tr>
                                                <td>{{p.user.username}}</td>
                                                <td>{{p.forename}} {{p.surname}}</td>
                                                <td><a href="{% url 'profile' p.user.username %}"><span class="badge badge-primary">Details</span></a></td>
                                            </tr> 
                                        {% endfor %} 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <br />
            <p><a href="{% url 'events' profile.user.username %}" type="button" class="btn btn-primary">Events this profile is hosting</a></p>
        <br />
        {% if profile == this_user %}
            <p><a href="{% url 'profile_setup' %}" type="button" class="btn btn-primary">Change profile information</a></p>
        {% endif %}
    </div>        
    
{% endblock %}